@using System.Data.Entity;
@model FreelanceTimeTracker.Models.Client

@{
    ViewBag.Title = "Client Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd>
            <table class="table">
                @foreach(var item in Model.Projects){ 
                 <tr>
                     <td>
                         @Html.ActionLink(item.ProjectName, "Details", "Projects", new { Id = item.ProjectID }, null)
                     </td>
                 </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
